<%= form_with model: @booking do |form| %>

  <h2>Enter passenger info:</h2>
  <ul>

  <%= form.hidden_field :booking_option, :value => params[:booking_option] %>
  <%= form.hidden_field :passenger_count, :value => params[:passenger_count] %>
  
 
    <%= form.fields_for :passengers do |booking_form| %>
      <li>
        <%= booking_form.label :name %>
        <%= booking_form.text_field :name %>
        <%= booking_form.label :email %>
        <%= booking_form.text_field :email %>
       
      </li>
    <% end %>
  </ul>
  <%= form.submit "Finalize Booking" %>
<% end %>