<h1> Booking Information </h1>

<p> Your chosen flight </p>

<% f = Flight.find_by(id: params[:booking_option]) %>
<% d = Airport.find_by(id: f.departure_airport_id)%>
<% a = Airport.find_by(id: f.arrival_airport_id)%>
Flight ID: <%= f.id %>
<br/>
Duration: <%= f.duration %>
<br/>
Departure City: <%= d.city %>
<br/>
Arrival City: <%= a.city %>
<%= render partial: "form" %>